<!-- <ion-header translucent class="sticky-box-shadow">
  <ion-toolbar color="client-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Roommate Preferences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-img src="/assets/ICON WITH TITLE.png" alt="" class="headerImage"></ion-img>
  <form [formGroup]="userForm" (ngSubmit)="submitForm()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Roommate Gender <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" required formControlName="preferredGender" multiple="true">
          <ion-select-option *ngFor="let item of genders" [value]="item.genderId">{{item.gender}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Roommate Religion <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" required formControlName="preferredReligion" multiple="true">
          <ion-select-option *ngFor="let item of religions" [value]="item.ReligionId">{{item.Religion}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Preferred Pets </ion-label>
        <ion-select placeholder="Select One" formControlName="preferredPets" multiple="true">
          <ion-select-option *ngFor="let item of pets" [value]="item.PetId">{{item.PetName}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-range min="21" max="60" dualKnobs="true" pin="true" pin [value]="rangeValue" color="primary"
          (ionChange)="rangeChange($event)" #agerange formControlName="ageRange">
          <ion-label slot="start">Min Age ({{rangeValue.lower}})</ion-label>
          <ion-label slot="end">Max Age ({{rangeValue.upper}})</ion-label>
        </ion-range>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="userForm.invalid || userForm.pristine">
        <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon> Submit
      </ion-button>
    </div>
  </form>
</ion-content> -->

<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs" text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Roommate Preferences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="main_div ion-margin-horizontal">
    <div class="logo_div">
      <img src="/assets/logo.png">
    </div>
    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
      <div class="data_div">
        <div class="gender_div">
          <p class="info_lbl">
            Roommate Gender
          </p>
          <div class="btn_div">
            <ion-button [ngClass]="female ? 'active':''" (click)="female=!female;">
              Female
            </ion-button>
            <ion-button [ngClass]="male ? 'active' :''" (click)="male=!male;">
              male
            </ion-button>
            <!-- <ion-button [ngClass]="other==1 ? 'active' :''" (click)="female=0;male=0;other=1">
              Other
            </ion-button> -->
          </div>
        </div>
        <ion-item mode="md">
          <ion-label class="info_lbl" position="stacked" mode="ios">
            Roommate Religion
          </ion-label>
          <ion-select placeholder="Select One" required multiple="true" formControlName="preferredReligion">
            <ion-select-option *ngFor="let item of religions" [value]="item.ReligionId">{{item.Religion}}
            </ion-select-option>
          </ion-select>


        </ion-item>
        <ion-item mode="md">
          <ion-label class="info_lbl" position="stacked" mode="ios">
            Preferred Pets
          </ion-label>
          <ion-select placeholder="Select One" multiple="true" formControlName="preferredPets">
            <ion-select-option *ngFor="let item of pets" [value]="item.PetId">{{item.PetName}}
            </ion-select-option>
          </ion-select>

        </ion-item>
        <ion-item mode="md" lines="none">
          <ion-label>
            <h3 class="info_lbl">Select Age</h3>
            <!-- <ion-range id="dual-range" dual-knobs pin>
          </ion-range> -->
            <ion-range min="21" max="60" dualKnobs="true" pin="true" pin [value]="rangeValue" color="primary"
              (ionChange)="rangeChange($event)" #agerange>
              <ion-label slot="start">21</ion-label>
              <ion-label slot="end">60</ion-label>
            </ion-range>
          </ion-label>
        </ion-item>
        <ion-button class="main_btn register_btn" type="submit" expand="block" class="ion-no-margin">
          Submit
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
<!-- <ion-footer class="ion-no-border">
  <ion-button class="main_btn register_btn" expand="block">
    submit
  </ion-button>

</ion-footer> -->