<ion-content>
    <ion-list *ngIf="friends.length>0">
        <ion-list-header>
            Friends
        </ion-list-header>
        <ion-item *ngFor="let friend of friends" button detail>
            <ion-avatar slot="start">
                <!-- <img [src]="friend.ProfileImagePath | imageBinder:friend.Gender"> -->
                <ion-img [src]="friend.ProfileImagePath | imageBinder:friend.Gender" alt=""
                    (ionError)="setdefultImage($event)"> </ion-img>
            </ion-avatar>
            <ion-label>
                <h2>{{friend.FName}}</h2>
                <h3>{{friend.Age}}</h3>
                <p>{{friend.City}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="pendingFriends.length>0">
        <ion-list-header>
            Pending Friends List
        </ion-list-header>
        <ion-item *ngFor="let friend of pendingFriends">
            <ion-avatar slot="start">
                <!-- <img [src]="friend.ProfileImagePath | imageBinder:friend.Gender"> -->
                <ion-img [src]="friend.ProfileImagePath | imageBinder:friend.Gender" alt=""
                    (ionError)="setdefultImage($event)"> </ion-img>
            </ion-avatar>
            <ion-label>
                <h2>{{friend.FName}}</h2>
                <h3>{{friend.Age}}</h3>
                <p>{{friend.City}}</p>
            </ion-label>
            <ion-fab vertical="center" horizontal="end" class="fab-button-group">
                <ion-fab-button color="light" size="small" (click)="acceptFriendShip(friend)">
                    <ion-icon name="heart-empty" color="primary"></ion-icon>
                </ion-fab-button>
                <ion-fab-button color="light" size="small" (click)="rejectFriendShip(friend)">
                    <ion-icon name="close" color="danger"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-item>
    </ion-list>
</ion-content>