<ion-header class="ion-no-border">
    <div class="ion-margin-horizontal segment_div">
        <ion-toolbar mode="ios">
            <ion-item-divider class="ion-no-padding">
                <ion-segment [(ngModel)]="selectedTab">
                    <ion-segment-button *ngFor="let item of pageTabs" [value]="item.id"
                        (click)="currentSegment(item.id)">
                        {{item.tabName}}
                    </ion-segment-button>
                </ion-segment>
            </ion-item-divider>
        </ion-toolbar>
    </div>

</ion-header>

<ion-content fullscreen class="animated fadeIn fast" #ionContent>
    <ion-refresher slot="fixed" id="refresher" (ionRefresh)="doRefresh($event)"
        [ngClass]="{'refresher-active refresher-refreshing': isLoading}">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-slides [options]="slideOpts" #SwipedTabsSlider (ionSlideDidChange)="currentSlide()"
        class="ion-margin-horizontal main_div">
        <ion-slide *ngFor="let item of pageTabs">
            <ion-list *ngIf="item.friends.length>0" class="animated slideInRight fastest">
                <ion-item *ngFor="let friend of item.friends" mode="ios">
                    <ion-avatar slot="start" (click)="openDetails(friend, item.id)">
                        <ion-img [src]="friend.ProfileImagePath | imageBinder:friend.Gender" alt=""
                            (ionError)="setdefultImage($event)"> </ion-img>
                    </ion-avatar>
                    <ion-label (click)="openDetails(friend, item.id)">
                        <h3>{{friend?.FName}}</h3>
                        <p *ngIf="friend.LastMessage" class="msg"
                            [ngClass]="{'message-unread': friend.LastMessage.isRead === false && friend.LastMessage.userId != currentUserId }">
                            <ion-icon [name]="friend.LastMessage.isRead? 'checkmark-done' : 'checkmark'"
                                [ngClass]="{'read-message': friend.LastMessage.isRead}"
                                *ngIf="friend.LastMessage.userId === currentUserId"></ion-icon>
                            {{ friend.LastMessage?.message}}
                        </p>
                    </ion-label>
                    <ion-note (click)="openDetails(friend, item.id)" slot="end" mode="md" *ngIf="friend.LastMessage"
                        class="last-message-time"
                        [ngClass]="{'message-unread': friend.LastMessage.isRead === false && friend.LastMessage.userId != currentUserId }">
                        {{ getLastMessageDateTime(friend.LastMessage?.datetime) }}
                        <br />
                        <ion-badge mode="ios" *ngIf="friend.UnreadMessagesCount">
                            {{friend.UnreadMessagesCount}}</ion-badge>
                    </ion-note>

                    <ion-fab vertical="center" horizontal="end" class="fab-button-group" *ngIf="item.id === 1">
                        <ion-fab-button class="match_btn ion-float-right" (click)="rejectFriendShip(friend)">
                            <ion-icon src="/assets/close.svg"></ion-icon>
                        </ion-fab-button>

                        <ion-fab-button class="match_btn ion-float-right" (click)="acceptFriendShip(friend)">
                            <ion-icon src="/assets/heart.svg"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>
                </ion-item>
            </ion-list>
            <ion-label class="ion-empty-label" *ngIf="item.id === 0 && item.friends.length === 0 && !isLoading"
                color="dark">
                <ion-icon name="alert-circle" slot="start"></ion-icon>
                <br />
                <p>You are yet to get any matches</p>
            </ion-label>
            <ion-label class="ion-empty-label" *ngIf="item.id === 1 && item.friends.length === 0 && !isLoading"
                color="dark">
                <ion-icon name="alert-circle" slot="start"></ion-icon>
                <br />
                <p>No pending matches! Check back soon!</p>
            </ion-label>
        </ion-slide>
    </ion-slides>
</ion-content>