.login-form .link-group {
    margin-bottom: 20px;
    border-bottom: 0.1px solid;
}

.login-form .username-textbox {
    border-radius: 5px 5px 0 0;
    margin-bottom: 1px;
}

.login-form .password-textbox {
    border-radius: 0 0 5px 5px;
}

.username-textbox ion-icon,
.password-textbox ion-icon {
    font-size: 35px;
}


.login-form{
    display: block;
}

.welcome-card {
    margin-top: 20%;
    background-color: transparent;
}


ion-input {
    --color: var(--black);
    font-size: 14px;
    font-family: "poppins_me";
    --padding-start: 0px;
    height: 30px;
}
  
