.login-form .link-group {
    margin-bottom: 20px;
    border-bottom: 0.1px solid;
}



.login-form .password-textbox {
    border-radius: 0 0 5px 5px;
}

.username-textbox ion-icon,
.password-textbox ion-icon {
    font-size: 35px;
}


.welcome-card {
    margin-top: 10%;
    background-color: transparent;
}
 
ion-content {
    .data_div {
      width: 100%;
      height: 70px;
    //   background-color: var(--gray);
      border-radius: 20px;
      display: flex;
      margin-bottom: 1px;
  
      .info_div {
        border-left-color: var(--dark_gray);
        padding-top: 2px;
        width: 100%;
      }
      ion-input {
        --color: var(--black);
        font-size: 16px;
        font-family: "poppins_me";
        --padding-start: 0px;
        height: 30px;  
      }
    }
  }
