<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs" text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="main_div ion-margin-horizontal">
    <div class="back_img">
      <img src="/assets/bosahgroup.png">
    </div>
    <div class="referral_div">
      <ion-icon class="mail-icon" name="mail"></ion-icon>
      <p class="info_lbl">
        If you have any questions or concerns, don’t hesitate to reach out. 
      </p>
      <br />
      <br />
      <p class="code"><a href="mailto:bosahgroup@gmail.com">bosahgroup@gmail.com</a></p>
      <br />
      <p class="info_lbl">
        Please allow us 24-48 hours to respond.
      </p>
     
    </div>

  </div>
</ion-content>