<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs" text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="main_div ion-margin-horizontal">
    <div class="back_img">
      <img src="/assets/bosahgroup.png">
    </div>
    <div class="referral_div">
      <ion-icon class="mail-icon" name="mail"></ion-icon>
      <p class="info_lbl">
        Our team is happy to answer your questions. Please mail us on below email and we'll be in touch as soon as
        possible.</p>
      <br />
      <br />
      <p class="code"><a href="mailto:bosahgroup@gmail.com">bosahgroup@gmail.com</a></p>
      <!-- <ion-button class="invite_btn main_btn" expand="block">
        <ion-icon name="exit"></ion-icon>invite Your Friends
      </ion-button> -->
    </div>

  </div>
</ion-content>