ion-card-content {
    padding: 0;
    width: 40%;
    height: 100px;
    margin: 0 auto;
}

ion-card .user-img {
    height: 400px;
}

.about-me-label {
    text-align: justify;
    margin-bottom: 0;
}