<ion-header>
  <ion-toolbar>
    <ion-buttons class="ion-no-margin" slot="start">
      <ion-back-button defaultHref="/login" text=""></ion-back-button>
    </ion-buttons>
    <ion-item lines="none" class="ion-no-padding">
      <ion-avatar slot="start" class="ion-no-margin" (click)="profileView()">
        <ion-img [src]="queryInfo?.toProfileImagePath" alt="" (ionError)="setdefultImage($event)"></ion-img>
      </ion-avatar>
      <ion-label class="ion-margin-start">
        <span class="user-name">
          {{ (queryInfo && queryInfo.toUserName)? queryInfo.toUserName : 'Friend' }}
          <ion-icon name="radio-button-on" [ngClass]="{'online': friendUserStatus?.isOnline}"></ion-icon>
        </span>
        <br />
        <span class="user-status" [ngClass]="{'online': friendUserStatus?.isOnline}"
          *ngIf="!friendUserStatus?.isTyping">
          {{ (friendUserStatus?.isOnline)? 'online': 'offline' }}
        </span>
        <span class="user-status" [ngClass]="{'online': friendUserStatus?.isOnline}"
          *ngIf="friendUserStatus?.isOnline && friendUserStatus?.isTyping">
          typing...
        </span>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="openMoreOption($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical" class="moreOption"></ion-icon>
      </ion-button>
      <!-- <ion-icon button slot="end" name="more" (click)="openMoreOption($event)"></ion-icon> -->
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content #ionContent fullscreen>
  <div class="main">
    <div class="chat-box">
      <div class="message-area">
        <!-- <div class="message animated fast" *ngFor="let message of messages"
          [ngClass]="getClasses(message.payload.doc.data().userId)">
          <p>{{message.payload.doc.data().message | decryptTextBinder:message.payload.doc.data().userId}}
            <span>{{message.payload.doc.data().datetime | date:'MM/dd/y, h:mm a' | lowercase}}
              <ion-icon [name]="message.payload.doc.data().isRead? 'checkmark-done' : 'checkmark'"
                [ngClass]="{'read-message': message.payload.doc.data().isRead}"></ion-icon>
            </span>
          </p>
        </div> -->
        <div class="message animated fast" *ngFor="let message of messages" [ngClass]="getClasses(message.userId)">
          <p>{{message.message | decryptTextBinder:message.userId}}
            <span>{{message?.datetime | date:'MM/dd/y, h:mm a' | lowercase}}
              <ion-icon [name]="message.isRead? 'checkmark-done' : 'checkmark'"
                [ngClass]="{'read-message': message.isRead}"></ion-icon>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer no-border translucent="true">
  <ion-toolbar>
    <div class="typing">
      <div class="input-area">
        <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
          <ion-input (ionFocus)="checkFocus()" (keyup)="onKey($event)" (focusout)="stopTyping()" required
            formControlName="message" type="text" placeholder="Type a message" autocapitalize="on" autocorrect="on"
            autocomplete="on" #messageInput></ion-input>
          <ion-button [disabled]="messageForm.invalid" type="submit" size="default" fill="clean">
            <ion-icon slot="icon-only" name="send" color="primary"></ion-icon>
          </ion-button>
        </form>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>