<ion-header>
  <ion-toolbar>
    <ion-buttons no-margin slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-item lines="none" no-padding>
      <ion-avatar slot="start" no-margin>
        <ion-img [src]="queryInfo.toProfileImagePath" alt="" (ionError)="setdefultImage($event)"></ion-img>
      </ion-avatar>
      <ion-title no-padding>
        <span class="user-name">
          {{ (queryInfo && queryInfo.toUserName)? queryInfo.toUserName : 'Friend' }}
          <ion-icon name="radio-button-on" [ngClass]="{'online': friendUserStatus.isOnline}"></ion-icon>
        </span>
        <br />
        <span class="user-status" [ngClass]="{'online': friendUserStatus.isOnline}" *ngIf="!friendUserStatus.isTyping">
          {{ (friendUserStatus.isOnline)? 'online': 'offline' }}
        </span>
        <span class="user-status" [ngClass]="{'online': friendUserStatus.isOnline}"
          *ngIf="friendUserStatus.isOnline && friendUserStatus.isTyping">
          typing...
        </span>
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content #ionContent>
  <div class="main">
    <div class="chat-box">
      <div class="message-area">
        <div class="message animated fast" *ngFor="let message of messages" [ngClass]="getClasses(message.userId)">
          <p>{{message.message}}
            <span>{{message.datetime | date:'h:mm aaa'}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="typing">
    <div class="input-area">
      <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
        <ion-input (ionFocus)="checkFocus()" (keyup)="onKey($event)" (focusout)="stopTyping()" required
          formControlName="message" type="text" placeholder="Type a message" #messageInput></ion-input>
        <ion-button [disabled]="messageForm.invalid" color="primary" type="submit" size="default" fill="clean">
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </form>
    </div>
  </div>
</ion-footer>