<ion-header>
  <ion-toolbar>
    <ion-buttons class="ion-no-margin" slot="start">
      <ion-back-button defaultHref="/login" text=""></ion-back-button>
    </ion-buttons>
    <ion-item lines="none" class="ion-no-padding">
      <ion-avatar slot="start" class="ion-no-margin" (click)="profileView()">
        <ion-img [src]="queryInfo?.toProfileImagePath" alt="" (ionError)="setdefultImage($event)"></ion-img>
      </ion-avatar>
      <ion-label class="ion-margin-start" class="header-label">
        <span class="user-name">
          {{ (queryInfo && queryInfo.toUserName)? queryInfo.toUserName : 'Friend' }}
          <ion-icon name="radio-button-on" [ngClass]="{'online': friendUserStatus?.isOnline}"></ion-icon>
        </span>
        <br />
        <span class="user-status" [ngClass]="{'online': friendUserStatus?.isOnline}"
          *ngIf="!friendUserStatus?.isTyping">
          {{ (friendUserStatus?.isOnline)? 'online': 'offline' }}
        </span>
        <span class="user-status" [ngClass]="{'online': friendUserStatus?.isOnline}"
          *ngIf="friendUserStatus?.isOnline && friendUserStatus?.isTyping">
          typing...
        </span>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="openMoreOption($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical" class="moreOption"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content #ionContent fullscreen>
  <ion-infinite-scroll (ionInfinite)="loadData($event)" position="top" threshold="5%" #ionInfiniteScroll>
    <ion-infinite-scroll-content loadingSpinner="dots"> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div class="main">
    <div class="chat-box">
      <div class="message-area">
        <div class="message animated fast selectableDiv" *ngFor="let message of messages; let i = index;"
          [ngClass]="getClasses(message.userId)" [id]="message.id">
          <p>{{message.message | decryptTextBinder:message.userId}}
            <span>{{message?.datetime | date:'short' | lowercase}}
              <ion-icon [name]="message.isRead? 'checkmark-done' : 'checkmark'"
                [ngClass]="{'read-message': message.isRead}"></ion-icon>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer no-border translucent="true">
  <ion-toolbar>
    <div class="typing">
      <div class="input-area">
        <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
          <ion-textarea #messageInput  (ionFocus)="checkFocus()" (ionChange)="onKey($event)" (focusout)="stopTyping()" 
          placeholder="Type a message"
          required formControlName="message" 
          autocapitalize="on" autocorrect="on"  rows="1"
          autocomplete="on" autofocus="true" spellcheck="true">
          </ion-textarea>
          <ion-button [disabled]="messageForm.invalid" type="submit" size="default" fill="clean">
            <ion-icon slot="icon-only" name="send" color="primary"></ion-icon>
          </ion-button>
        </form>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>