<ion-tabs>
  <ion-tab-bar slot="bottom" class="app-background-img">
    <ion-tab-button tab="match">
      <ion-icon name="heart" class="tab-icon"></ion-icon>
      <ion-label>Match</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="preferred">
      <ion-icon name="star" class="tab-icon"></ion-icon>
      <ion-label>Preferred</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="userprofile">
      <ion-icon name="person" class="tab-icon"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-menu-button></ion-menu-button>
      <!-- class="menu-button" -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>