// .tab-icon {
//     font-size: 25px;
// }

// .tab-selected {
//     border-top: #3880ff solid 0.1px;
// }

.tab-selected ion-icon {
    font-size: 25px;
    color: #3880ff;
}

.tab-selected ion-label {
    font-size: 13px;
    color: #3880ff;
}