<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="userlogin" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Sign Up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-background-img" fullscreen padding>
  <ion-slides #registrationslides>
    <ion-slide class="otp-slide">
      <ion-card>
        <img class="slide-image" src="/assets/ICON WITH TITLE.png" alt="" />
        <ion-card-content>
          <form [formGroup]="otpForm" class="otp-form">
            <!-- <form  [formGroup]="" class="otp-form"> -->
            <ion-label color="danger" class="error-message" *ngIf="otpForm.controls.email.errors && otpForm.dirty">
              Invalid Email ID
            </ion-label>
            <ion-item class="email-textbox">

              <ion-icon slot="start" name="at" class="auto-top-bottom-marging" color="primary"></ion-icon>
              <ion-input type="email" placeholder="e-mail" formControlName="email" [(ngModel)]="newUser.email"
                name="email" [disabled]="otpsend" id="email">
              </ion-input>
              <ion-button slot="end" expand="block" fill="clean" shape="round" (click)="sendOTP()"
                [disabled]="otpsend || otpForm.controls.email.errors">
                <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
              </ion-button>
            </ion-item>
            <h3 class="appText" *ngIf="otpsend">Please enter one time verification code sent to<br />
              {{newUser.email}}</h3>
            <ion-item class="otp-textbox" *ngIf="otpsend">
              <ion-label position="floating" class="auto-right-left-marging">ENTER OTP</ion-label>
              <ion-input type="number" (keyup)="onKey($event)" maxlength="4"></ion-input>
            </ion-item>
            <h3 class="otp-resend" *ngIf="otpsend">Haven’t received your code? <br/>
              <ion-button fill="clear" (click)="reSendOTP()">Resend Code</ion-button>
            </h3>
          </form>
          <!-- <div class="navigation-button">
            <ion-button class="back-button" fill="clear" (click)="goToPrev()">Back
              <ion-icon slot="start" name="arrow-round-back"></ion-icon>
            </ion-button>
            <ion-button class="next-button" fill="clear" [disabled]="otpForm.controls.email.errors">
              Continue
              <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
            </ion-button>
          </div> -->
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide class="refer-slide">
      <ion-card>
        <img class="slide-image" src="/assets/ICON WITH TITLE.png" alt="" />
        <ion-card-content>
          <form padding-right class="refer-form">
            <h3 class="appText">Did someone refer you? Enter their referral code
              and you’ll each receive gift cards after lease is signed.</h3>
            <ion-item class="refer-textbox">
              <ion-input type="text" [(ngModel)]="newUser.referCode" name="referCode" id="referCode"
                placeholder="Referral Code (Optional)">
              </ion-input>
            </ion-item>
          </form>
          <div class="navigation-button">
            <!-- <ion-button class="back-button" fill="clear" (click)="goToPrev()">Back
              <ion-icon slot="start" name="arrow-round-back"></ion-icon>
            </ion-button> -->
            <ion-button class="next-button" fill="clear" [disabled]="!isValid" (click)="checkReferralCode()">Continue
              <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide class="password-slide">
      <ion-card>
        <img class="slide-image" src="/assets/ICON WITH TITLE.png" alt="" />
        <ion-card-content>
          <form padding-right class="password-form" [formGroup]="passwordForm">

            <ion-label color="danger" class="error-message"
              *ngIf="passwordForm.controls.password.errors && passwordForm.controls.password.errors.pattern">
              Password must contain 8 characters with One Capital & Small Letter, one Number, one Special Character.
            </ion-label>

            <ion-item class="password-textbox">
              <ion-input type="password" formControlName="password" [(ngModel)]="newUser.password" name="password"
                id="password" placeholder="Password*">
              </ion-input>
            </ion-item>
            <ion-item class="confirmPassword-textbox">
              <ion-input type="password" formControlName="confirmPassword" name="confirmPassword"
                [(ngModel)]="newUser.confirmPassword" id="confirmPassword" placeholder="Confirm Password*">
              </ion-input>
            </ion-item>
          </form>
          <div class="navigation-button">
            <ion-button class="back-button" fill="clear" (click)="goToPrev()">Back
              <ion-icon slot="start" name="arrow-round-back"></ion-icon>
            </ion-button>
            <ion-button class="next-button" fill="clear" [disabled]="passwordForm.invalid" (click)="goToNext()">Continue
              <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide class="personal-slide">
      <ion-card>
        <img class="slide-image" src="/assets/ICON WITH TITLE.png" alt="" />

        <ion-card-content>
          <form padding-right class="personal-form">
            <!-- <h3 class="appTitle">About You</h3> -->

            <p class="appText">Tell potential roommates about yourself</p>

            <ion-item class="firstname-textbox">
              <ion-input type="text" [(ngModel)]="newUser.firstName" name="firstName" id="firstName"
                placeholder="FirstName*" autoCapitalize='words'>
              </ion-input>
            </ion-item>
            <ion-item class="lastname-textbox">
              <ion-input type="text" [(ngModel)]="newUser.lastName" name="lastName" id="lastName"
                placeholder="LastName*" autoCapitalize='words'>
              </ion-input>
            </ion-item>
            <!-- <ion-item class="age-textbox">
              <ion-input type="tel" [(ngModel)]="newUser.age" name="age" id="age" placeholder="Age">
              </ion-input>
            </ion-item> -->
            <ion-item class="phone-textbox">
              <ion-input type="tel" [(ngModel)]="newUser.phone" name="phone" id="phone" placeholder="Phone No*"
                maxlength="10">
              </ion-input>
            </ion-item>
            <ion-item class="dob-textbox">
              <ion-label>Date Of Birth <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-datetime [(ngModel)]="newUser.dob" name="dob" id="dob" placeholder="MM-DD-YYYY"
                displayFormat="MM-DD-YYYY"></ion-datetime>
              <!-- <ion-input [(ngModel)]="newUser.dob" type="date" name="dob" id="dob" placeholder="DD-MM-YYYY"></ion-input> -->
            </ion-item>
            <ion-item class="gender-select">
              <ion-label>Gender <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="newUser.gender" name="gender" id="gender">
                <ion-select-option value="1">Male</ion-select-option>
                <ion-select-option value="2">Female</ion-select-option>
              </ion-select>
            </ion-item>
          </form>
          <div class="navigation-button">
            <ion-button class="back-button" fill="clear" (click)="goToPrev()">Back
              <ion-icon slot="start" name="arrow-round-back"></ion-icon>
            </ion-button>
            <ion-button class="next-button" fill="clear" [disabled]="!isValid" (click)="goToNext()">Continue
              <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide class="profession-slide">
      <ion-card>
        <img class="slide-image" src="/assets/ICON WITH TITLE.png" alt="" />
        <ion-card-header class="ion-no-padding">
          <ion-avatar class="user-avatar">
            <ion-img src="{{displayImage}}" alt="UserImage" (ionError)="setdefultImage($event)"></ion-img>
          </ion-avatar>
          <ion-card-title>
            <ion-chip color="primary" (click)="selectImage()">
              <ion-icon class="camera" name="Camera"></ion-icon>
            </ion-chip>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form padding-right class="profession-form">
            <p class="appText">Tell potential roommates about yourself</p>

            <ion-item class="college-textbox">
              <ion-input type="text" [(ngModel)]="newUser.college" name="college" id="college" placeholder="Education*"
                autoCapitalize='words'>
              </ion-input>
            </ion-item>
            <ion-item class="job-textbox">
              <ion-input type="text" [(ngModel)]="newUser.job" name="job" id="job" placeholder="Job*"
                autoCapitalize='words'>
              </ion-input>
            </ion-item>
            <ion-item class="city-select">
              <ion-label>City <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="newUser.city" name="city" id="city">
                <ion-select-option *ngFor="let location of locations" [value]="location.CityId">{{location.City}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <!-- <ion-item class="gender-select">
              <ion-label>Gender <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="newUser.gender" name="gender" id="gender">
                <ion-select-option value="1">Male</ion-select-option>
                <ion-select-option value="2">Female</ion-select-option>
              </ion-select>
            </ion-item> -->
            <ion-item class="religion-select">
              <ion-label>Religion <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="newUser.religion" name="religion" id="religion">
                <ion-select-option *ngFor="let religion of religions" [value]="religion.ReligionId">
                  {{religion.Religion}}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item class="pet-select">
              <ion-label>Pet (Optional)
              </ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="newUser.UserPetId" name="Userpet" id="Userpet">
                <ion-select-option *ngFor="let pet of pets" [value]="pet.PetId">
                  {{pet.PetName}}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item class="Drinking-select">
              <ion-label>Drinking (Optional)</ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="newUser.UserDrinkingID" name="UserDrinking"
                id="UserDrinking">
                <ion-select-option *ngFor="let item of drinkingOptions" [value]="item.Id">
                  {{item.Details}}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item class="Smoking-select">
              <ion-label>Smoking (Optional)</ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="newUser.UserSmokingId" name="Usersmoking"
                id="Usersmoking">
                <ion-select-option *ngFor="let item of smokingOptions" [value]="item.Id">
                  {{item.Details}}</ion-select-option>
              </ion-select>
            </ion-item>
          </form>
          <div class="navigation-button">
            <ion-button class="back-button" fill="clear" (click)="goToPrev()">Back
              <ion-icon slot="start" name="arrow-round-back"></ion-icon>
            </ion-button>
            <ion-button class="next-button" fill="clear" [disabled]="!isValid" (click)="goToNext()">Continue
              <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide class="user-slide">
      <ion-card>
        <img class="slide-image" src="/assets/ICON WITH TITLE.png" alt="" />
        <ion-card-content>
          <h3 class="appTitle"> Roommate Preferences </h3>
          <p class="appText">
            What are you looking for in a roommate? Select options below
          </p>
          <form padding-right class="user-form">
            <ion-item class="preferred-gender-select">
              <ion-label>Roommate Gender <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="newUser.preferredGender" name="preferredGender"
                id="preferredGender" multiple="true">
                <ion-select-option value="1">Male</ion-select-option>
                <ion-select-option value="2">Female</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="preferred-religion-select">
              <ion-label>Roommate Religion <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="newUser.preferredReligion" name="preferredReligion"
                id="preferredReligion" multiple="true">
                <ion-select-option *ngFor="let religion of religions" [value]="religion.ReligionId">
                  {{religion.Religion}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="preferred-pets-select">
              <ion-label>Preferred Pets <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="newUser.preferredPets" name="preferredPets"
                id="preferredPets" multiple="true">
                <ion-select-option *ngFor="let pet of pets" [value]="pet.PetId">
                  {{pet.PetName}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="age-range">
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="6" class="ion-text-left">
                    <ion-label>Min Age ({{newUser.minAge}})</ion-label>
                  </ion-col>
                  <ion-col size="6" class="ion-text-right">
                    <ion-label>Max Age ({{newUser.maxAge}})</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-range no-padding min="21" max="60" dualKnobs="true" pin="true" pin value="60" color="primary"
                      (ionChange)="rangeChange($event)" #agerange>
                    </ion-range>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

            <div class="term-condition">
              <ion-label>
                <ion-checkbox slot="start" [(ngModel)]="userAcceptTermsAndConditions"
                  name="userAcceptTermsAndConditions" id="userAcceptTermsAndConditions"></ion-checkbox>&nbsp;&nbsp;I
                accept the Terms & Conditions.
              </ion-label>
              <br /><br />
              <ion-button (click)="openLink()" fill="clear">
                Terms & Conditions
              </ion-button>
            </div>
          </form>
          <div class="navigation-button">
            <ion-button class="back-button" fill="clear" (click)="goToPrev()">Back
              <ion-icon slot="start" name="arrow-round-back"></ion-icon>
            </ion-button>
            <ion-button fill="clear" [disabled]="!isValid" (click)="registeredNewUser()">Done
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>