<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-icon class="header-icon" name="notifications-circle"></ion-icon>
        <ion-label> In-App Notifications </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>Show Notifications</ion-label>
        <ion-toggle [(ngModel)]="IsNotificationEnabled" (ionChange)="setNotification()" slot="end">
        </ion-toggle>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-icon class="header-icon" name="settings"></ion-icon>
        <ion-label>Account Setting</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label color="danger">
          Hide My Profile
          <br /><span class="description-text">Your profile will be hidden from Suggested.</span>
        </ion-label>
        <ion-toggle [(ngModel)]="IsProfileHidden" (ionChange)="setProfileHidden()" slot="end" color="danger">
        </ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label color="danger">Deactivate My Account </ion-label>
        <ion-toggle [(ngModel)]="IsUserDeactivated" (ionChange)="setUserDeactivate()" slot="end" color="danger">
        </ion-toggle>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-icon class="header-icon" name="shield-checkmark"></ion-icon>
        <ion-label>T&C, Privacy Policy and IABS</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-button (click)="openLink(1)" fill="clear">
          Terms & Conditions
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="openLink(2)" fill="clear">
          Privacy Policy
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="openLink(3)" fill="clear">
          Information About Brokerage Services
        </ion-button>
      </ion-item>
    </ion-item-group>


  </ion-list>
</ion-content>