ion-item-group {
    margin-top: 5%;

    .description-text {
        font-size: 10px;
        font-style: italic;
    }

    ion-item-divider {
        .header-icon {
            padding-right: 2%;
            font-size: 30px;
            color: var(--my_theme);
        }
    }
}