.user-avatar {
    border: 1px solid #908a8a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

.user-profile-card ion-card-header {
    position: relative;
    top: -75px
}

.user-profile-card ion-card-header ion-card-title {
    text-align: center;
    font-weight: 400;
}

.user-profile-card ion-card-header ion-card-subtitle {
    text-align: center;
}

.user-profile-card ion-card-content {
    position: relative;
    top: -50px;
}

.setting-button {
    display: flex;
    flex-direction: column;
    padding: 5% 0 0 0;
    border-bottom: 0;
}

ion-card-content {
    ion-item-divider>ion-icon {
        color: #61afff;
    }

    ion-item-divider>ion-label {
        color: #262626;
    }
}

ion-icon {
    font-size: xx-large;
}