<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay" menuId="masterMenu" side="end">
      <ion-header>
        <ion-toolbar color="client-menu">
          <ion-menu-toggle auto-hide="false">
            <ion-item color="client-menu" routerLink="/userprofile">
              <ion-avatar class="user-avatar">
                <ion-img [src]="ProfileImagePath" alt="" (ionError)="setdefultImage($event)">
                </ion-img>
              </ion-avatar>
              <ion-title>{{currentUser.FName}}</ion-title>
            </ion-item>
          </ion-menu-toggle>
        </ion-toolbar>
      </ion-header>
      <ion-content color="client-menu">
        <ion-list class="menu-content">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" color="client-menu">
              <ion-icon [name]="p.icon"></ion-icon> &nbsp;
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>