<ion-header translucent>
    <ion-toolbar>
        <ion-title></ion-title>
        <ion-button slot="end" fill="clean" (click)="dismissModal()">Close</ion-button>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-card>
        <ion-img [src]="user.ProfileImagePath.replace('thumbnail_','') | imageBinder:user.Gender" alt=""
            class="user-img" (ionError)="setdefultImage($event)">
        </ion-img>
        <ion-card-header>
            <ion-card-title>{{user.FName | blankValue}}</ion-card-title>
            <ion-card-subtitle>
                <span>
                    <ion-icon slot="start" name="pin"></ion-icon>
                    {{user.City | blankValue}}
                </span>
                <br />
                <p class="about-me-label">
                    {{user.AboutMe}}
                </p>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content *ngIf="!isActionTaken && enableActionButton">
            <div class="fab-buttons">
                <ion-fab horizontal="start" vertical="center">
                    <ion-fab-button color="light" size="small" (click)="rejectFriendShip()">
                        <ion-icon name="close" color="danger"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
                <ion-fab horizontal="end" vertical="center">
                    <ion-fab-button color="light" size="small" (click)="acceptFriendShip()">
                        <ion-icon name="heart-empty" color="primary"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
            </div>
        </ion-card-content>

    </ion-card>
</ion-content>