<ion-header translucent>
  <ion-toolbar color="client-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Events</ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="selectedTab" ion-fixed>
    <ion-segment-button *ngFor="let item of pageTabs" [value]="item.id" (ionSelect)="currentSegment(item.id)">
      {{item.tabName}}
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content fullscreen>

  <ion-slides [options]="slideOpts" #SwipedTabsEventsSlider (ionSlideDidChange)="currentSlide()">
    <ion-slide *ngFor="let item of pageTabs">
      <ion-list *ngIf="item.events.length>0">
        <ion-item *ngFor="let event of item.events" button detail (click)="openDetails(event)">
          <ion-thumbnail slot="start">
            <ion-img [src]="event.EventImageFileName | eventImageBinder" alt="" (ionError)="setdefultImage($event)">
            </ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>{{event.EventName}}</h2>
            <h3>{{event.EventDate | date}}</h3>
            <p>{{event.EventDate | date:'shortTime'}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-label class="ion-empty-label" *ngIf="!item.events.length" color="dark">
        <ion-icon name="clipboard" slot="start"></ion-icon>
        List Empty!
      </ion-label>
    </ion-slide>
  </ion-slides>
</ion-content>