<ion-content>
  <ion-list>
    <ion-list-header>
      Upcoming Events
    </ion-list-header>
    <ion-item *ngFor="let item of events" button detail>
      <ion-thumbnail slot="start">
        <ion-img [src]="item.EventImageFileName | eventImageBinder" alt="" (ionError)="setdefultImage($event)">
        </ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{item.EventName}}</h2>
        <h3>{{item.EventDate | date}}</h3>
        <p>{{item.EventDate | date:'shortTime'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>


  <!-- <ion-card *ngFor="let item of events">
    <ion-img [src]="item.EventImageFileName | eventImageBinder" alt="" (ionError)="setdefultImage($event)"></ion-img>
    <ion-card-header>
      <ion-card-title>{{item.EventName}}</ion-card-title>
      <ion-card-subtitle>
        <span>{{item.EventDate | date}}</span>
        <br />
        <span>{{item.EventDate | date:'shortTime'}}</span>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button fill="clear" no-padding slot="end">
        More...
      </ion-button>
    </ion-card-content>
  </ion-card> -->
</ion-content>