ion-list-header {
    border-bottom: 0.1px solid;
    font-size: 20px;
}

ion-slides {
    min-height: 100%;
}

ion-slides ion-slide {
    align-items: flex-start;
    justify-content: flex-start;
}

ion-slides ion-slide ion-list {
    width: 100%;
}

ion-slides ion-slide .ion-empty-label {
    margin: auto;
    padding-top: 50%;
}

.segment-button-checked{
    --background-checked:var(--my_theme);
}