<ion-header translucent>
    <ion-toolbar>
        <ion-title></ion-title>
        <ion-button slot="end" fill="clean" (click)="dismissModal()">Close</ion-button>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-card>
        <ion-img [src]="event.EventImageFileName.replace('thumbnail_','') | eventImageBinder" alt=""
            (ionError)="setdefultImage($event)" class="user-img">
        </ion-img>
        <!-- <img [src]="event.EventImageFileName.replace('thumbnail_','') | eventImageBinder" alt="" class="user-img" /> -->
        <ion-card-header>
            <ion-card-title>{{event.EventName}}</ion-card-title>
            <ion-card-subtitle>
                {{event.EventDate | date}}<br />
                {{event.EventDate | date:'shortTime'}}<br />
                {{event.City | blankValue}}
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            {{event.EventDesc | blankValue}}
        </ion-card-content>
        <ion-button *ngIf="!event.isSubscribe" expand="full" color="primary" (click)="subscribeEvent()">Register
        </ion-button>
        <ion-button *ngIf="event.isSubscribe" expand="full" color="danger" (click)="subscribeEvent()">Deregister
        </ion-button>
    </ion-card>
</ion-content>