<ion-content fullscreen class="animated fadeInUp fast" horizontal="start">
    <ion-slides [options]="slideOpts" #preferredUserSlides>
        <ion-slide *ngFor="let user of preferredUser" class="animated zoomIn">
            <ion-card *ngIf="user.UserId" horizontal="start">
                <!-- <ion-img [src]="user.ProfileImagePath | imageBinder:user.Gender" alt="" class="user-img"
                    (ionError)="setdefultImage($event)"> </ion-img> -->
                <div class="img_div">
                    <ion-img [src]="user.ProfileImagePath | imageBinder:user.Gender" alt="" class="user-img"
                        (ionError)="setdefultImage($event)"> </ion-img>
                    <img src="/assets/Shape.png" class="style_img">
                </div>
                <ion-card-header *ngIf="user.UserId"  padding-horizontal no-padding horizontal="start">
                    <ion-card-title horizontal="start">
                        <div class="data_div ion-margin-horizontal">
                            <h3 class="name">{{user.FName | blankValue}}</h3>
                            <p class="job">
                                <ion-icon src="/assets/job.svg"></ion-icon> {{user.Job | blankValue}}
                            </p>
                            <p class="job">
                                <ion-icon src="/assets/degree.svg"></ion-icon> {{user.College | blankValue}}
                            </p>
                            <ion-chip *ngIf="user.UserSmoking">
                                <ion-icon src="/assets/smoke.svg"></ion-icon>
                                <ion-label class="chip_lbl"> {{user.UserSmoking | blankValue}}</ion-label>
                            </ion-chip>
                            <ion-chip *ngIf="user.UserDrinking">
                                <ion-icon src="/assets/drink.svg"></ion-icon>
                                <ion-label class="chip_lbl"> {{user.UserDrinking | blankValue}}</ion-label>
                            </ion-chip>
                            <ion-chip *ngIf="user.UserPet">
                                <ion-icon src="/assets/men_flit.svg"></ion-icon>
                                <ion-label class="chip_lbl"> {{user.UserPet | blankValue}}</ion-label>
                            </ion-chip>
                            <p class="test_p"> {{user.AboutMe}}</p>
                            <div class="btn_div" *ngIf="user.UserId">
                              
                                    <button (click)='notIntrested()'>
                                        <ion-icon src="/assets/cancel.svg"></ion-icon>
                                    </button>
                                    <button (click)="sendFriendRequest(user)">
                                        <ion-icon src="/assets/gree_heart.svg"></ion-icon>
                                    </button>
                              

                            </div>
                        </div>
                    </ion-card-title>
                    <!-- <ion-card-subtitle>
                        <div class="genral-Info">

                       
                            <p>
                                <ion-icon slot="start" name="school"></ion-icon>
                                {{user.College | blankValue}}
                            </p>
                        </div>
                        <div class="more-info" *ngIf="user.UserPet || user.UserSmoking || user.UserDrinking">
                            <ion-badge class="badge-color" *ngIf="user.UserPet">
                                <span>
                                    <ion-icon slot="start" name="paw"></ion-icon>
                                    {{user.UserPet | blankValue}}
                                </span>
                            </ion-badge>
                            <ion-badge class="badge-color" *ngIf="user.UserSmoking">
                                <span>
                                    <ion-icon slot="start" name="logo-no-smoking"></ion-icon>
                                    {{user.UserSmoking | blankValue}}
                                </span>
                            </ion-badge>
                            <ion-badge class="badge-color" *ngIf="user.UserDrinking">
                                <span>
                                    <ion-icon slot="start" name="wine"></ion-icon>
                                    {{user.UserDrinking | blankValue}}

                                </span>
                            </ion-badge>
                        </div>
                        <p class="about-me-label">
                            {{user.AboutMe}}
                        </p>
                    </ion-card-subtitle> -->
                </ion-card-header>
                <!-- <ion-card-content *ngIf="user.UserId">
                    <ion-fab class="ion-fab-relative" horizontal="start" vertical="center">
                        <ion-fab-button color="light" size="small" [disabled]="user.SendRequest"
                            (click)="notIntrested()">
                            <ion-icon name="close" color="danger"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>
                    <ion-fab horizontal="end" vertical="center">
                        <ion-fab-button color="light" size="small" (click)="sendFriendRequest(user)">
                            <ion-icon name="heart-empty" color="primary" *ngIf="!user.SendRequest"></ion-icon>
                            <ion-icon name="heart" color="primary" *ngIf="user.SendRequest"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>
                </ion-card-content> -->
            </ion-card>
            <ion-label class="ion-empty-label" *ngIf="preferredUser.length === 1 && user.UserId === ''" color="dark">
                <ion-icon name="clipboard" slot="center"></ion-icon>
                There are no more potential matches left. Please expand your criteria!
            </ion-label>
        </ion-slide>
    </ion-slides>
</ion-content>