<!-- <ion-header translucent class="sticky-box-shadow">
  <ion-toolbar color="client-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile Update</ion-title>
    <ion-button fill="clear" slot="end" size="large" (click)="onSubmit()" [disabled]="userForm.invalid || userForm.pristine">
      <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-img src="/assets/ICON WITH TITLE.png" alt="" class="headerImage"></ion-img>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">Education <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required formControlName="College" type="text" autoCapitalize='words'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Job <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required formControlName="Job" type="text" autoCapitalize='words'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Gender <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" required formControlName="GenderId">
          <ion-select-option *ngFor="let item of genders" [value]="item.genderId">{{item.gender}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">City <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" required formControlName="CityId">
          <ion-select-option *ngFor="let item of locations" [value]="item.CityId">{{item.City}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Preferred Giftcards
        </ion-label>
        <ion-select placeholder="Select One" formControlName="SelectedGiftCardTypeID">
          <ion-select-option *ngFor="let item of giftCard" [value]="item.GiftCardTypeID">
            {{item.GiftCardProvider.trim()}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Religion <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" required formControlName="ReligionId">
          <ion-select-option *ngFor="let item of religions" [value]="item.ReligionId">{{item.Religion}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Pets <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" required formControlName="UserSelectedPetId">
          <ion-select-option *ngFor="let item of petsOptions" [value]="item.PetId">{{item.PetName}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Smoking <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" required formControlName="UserSelectedSmokingId">
          <ion-select-option *ngFor="let item of SmokingOptions" [value]="item.Id">{{item.Details}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Drinking <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" required formControlName="UserSelectedDrinkingId">
          <ion-select-option *ngFor="let item of DrinkingOptions" [value]="item.Id">{{item.Details}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">About Me</ion-label>
        <ion-textarea formControlName="AboutMe" type="text" autoCapitalize='words'></ion-textarea>
      </ion-item>
      <div class="ion-padding" *ngIf="false">
        <ion-button expand="block" type="submit" [disabled]="userForm.invalid || userForm.pristine"
          class="ion-no-margin">
          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon> Submit
        </ion-button>
      </div>
    </ion-list>
  </form>
</ion-content> -->


<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"  text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onSubmit()" [disabled]="userForm.invalid || userForm.pristine">Done</ion-button>
    </ion-buttons>
    <ion-title>Update profile</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userForm">
  <div class="main_div ion-margin-horizontal">
    <div class="logo_div">
      <img src="/assets/logo.png">
    </div>
    <div class="data_div">
      <div class="img_div">
        <img src="/assets/education.png">
      </div>

      <div class="info_div">
        <h3 class="info_lbl">Education</h3>
        <ion-input required formControlName="College"  type="text"></ion-input>
      </div>
    </div>
    <div class="data_div">
      <div class="img_div">
        <img src="/assets/job.png">
      </div>

      <div class="info_div">
        <h3 class="info_lbl">Job</h3>
        <ion-input required formControlName="Job" type="text" autoCapitalize='words'></ion-input>
      </div>
    </div>

    <div class="data_div">
      <div class="img_div">
        <img src="/assets/gender.png">
      </div>

      <div class="info_div">
        <h3 class="info_lbl">Gender</h3>
        <ion-select placeholder="Select One" required formControlName="GenderId">
          <ion-select-option *ngFor="let item of genders" [value]="item.genderId">{{item.gender}}
          </ion-select-option>
        </ion-select>
      </div>
    </div>
    <!-- <div class="data_div">
      <div class="img_div">
        <img src="/assets/age.png">
      </div>

      <div class="info_div">
        <h3 class="info_lbl">Age</h3>
        <ion-input value="26" type="tel"  readonly></ion-input>
      </div>
    </div> -->
    <div class="data_div">
      <div class="img_div">
        <img src="/assets/email_green.svg">
      </div>

      <div class="info_div">
        <h3 class="info_lbl">Email</h3>
        <ion-input required formControlName="EmailId" type="email" readonly></ion-input>
      </div>
    </div>
    <div class="data_div">
      <div class="img_div">
        <img src="/assets/call.png">
      </div>

      <div class="info_div">
        <h3 class="info_lbl">Phone</h3>
        <ion-input required formControlName="PhoneNumber" type="tel" readonly></ion-input>
      </div>
    </div>
    <div class="data_div">
      <div class="img_div">
        <img src="/assets/pin.png">
      </div>

      <div class="info_div">
        <h3 class="info_lbl">Address</h3>
        <ion-select placeholder="Select One" required formControlName="CityId">
          <ion-select-option *ngFor="let item of locations" [value]="item.CityId">{{item.City}}
          </ion-select-option>
        </ion-select>
      </div>
    </div>
    <div class="data_div">
      <div class="img_div">
        <img src="/assets/pin.png">
      </div>

      <div class="info_div">
        <h3 class="info_lbl">Religion</h3>
        <ion-select placeholder="Select One" required formControlName="ReligionId">
          <ion-select-option *ngFor="let item of religions" [value]="item.ReligionId">{{item.Religion}}
          </ion-select-option>
        </ion-select>
      </div>
     </div>  

     <div class="data_div">
      <div class="img_div">
        <img src="/assets/men_flit.svg">
      </div>
      <div class="info_div">
        <h3 class="info_lbl">Pets</h3>
        <ion-select placeholder="Select One" required formControlName="UserSelectedPetId">
          <ion-select-option *ngFor="let item of petsOptions" [value]="item.PetId">{{item.PetName}}
          </ion-select-option>
        </ion-select>
      </div>

     </div>
     
     <div class="data_div">
      <div class="img_div">
        <img src="/assets/smoke.svg">
      </div>

      <div class="info_div">
        <h3 class="info_lbl">Smoking</h3>
        <ion-select placeholder="Select One" required formControlName="UserSelectedSmokingId">
          <ion-select-option *ngFor="let item of SmokingOptions" [value]="item.Id">{{item.Details}}
          </ion-select-option>
        </ion-select>
      </div>
     </div>

     <div class="data_div">
      <div class="img_div">
        <img src="/assets/drink.svg">
      </div>
      <div class="info_div">
        <h3 class="info_lbl">Drinking</h3>
        <ion-select placeholder="Select One" required formControlName="UserSelectedDrinkingId">
          <ion-select-option *ngFor="let item of DrinkingOptions" [value]="item.Id">{{item.Details}}
          </ion-select-option>
        </ion-select>
      </div>       
     </div> 

     <div class="data_div">
      <div class="img_div">
        <img src="/assets/job.png">
      </div>

      <div class="info_div">
        <h3 class="info_lbl">About Me</h3>
        <ion-input maxlength="50" formControlName="AboutMe" type="text" autoCapitalize='words' Max></ion-input>
      </div>
    </div>
  </div>
</form>
</ion-content>