<ion-header translucent class="sticky-box-shadow">
  <ion-toolbar color="client-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile Update</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-img src="/assets/ICON WITH TITLE.png" alt="" class="headerImage"></ion-img>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">Education <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required formControlName="College" type="text" autoCapitalize='words'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Job <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required formControlName="Job" type="text" autoCapitalize='words'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Gender <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" required formControlName="GenderId">
          <ion-select-option *ngFor="let item of genders" [value]="item.genderId">{{item.gender}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">City <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" required formControlName="CityId">
          <ion-select-option *ngFor="let item of locations" [value]="item.CityId">{{item.City}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Preferred Giftcards
        </ion-label>
        <ion-select placeholder="Select One" formControlName="SelectedGiftCardTypeID">
          <ion-select-option *ngFor="let item of giftCard" [value]="item.GiftCardTypeID">
            {{item.GiftCardProvider.trim()}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Religion <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" required formControlName="ReligionId">
          <ion-select-option *ngFor="let item of religions" [value]="item.ReligionId">{{item.Religion}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Pets <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" required formControlName="UserSelectedPetId">
          <ion-select-option *ngFor="let item of petsOptions" [value]="item.PetId">{{item.PetName}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Smoking <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" required formControlName="UserSelectedSmokingId">
          <ion-select-option *ngFor="let item of SmokingOptions" [value]="item.Id">{{item.Details}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Drinking <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" required formControlName="UserSelectedDrinkingId">
          <ion-select-option *ngFor="let item of DrinkingOptions" [value]="item.Id">{{item.Details}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">About Me</ion-label>
        <ion-textarea formControlName="AboutMe" type="text" autoCapitalize='words'></ion-textarea>
      </ion-item>
      <div class="ion-padding">
        <ion-button expand="block" type="submit" [disabled]="userForm.invalid || userForm.pristine"
          class="ion-no-margin">
          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon> Submit
        </ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>