<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"  text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onSubmit()" [disabled]="userForm.invalid || userForm.pristine">Done</ion-button>
    </ion-buttons>
    <ion-title>Update profile</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="userForm">
  <div class="main_div ion-margin-horizontal">
    <div class="logo_div">
      <img src="/assets/logo.png">
    </div>
    <div class="data_div">
      <div class="img_div">
        <img src="/assets/education.png">
      </div>

      <div class="info_div">
        <h3 class="info_lbl">Education</h3>
        <ion-input required formControlName="College"  type="text" autocapitalize="on" autocorrect="on" autocomplete="on" autocomplete="on"></ion-input>
      </div>
    </div>
    <div class="data_div">
      <div class="img_div">
        <img src="/assets/job.png">
      </div>

      <div class="info_div">
        <h3 class="info_lbl">Job</h3>
        <ion-input required formControlName="Job" type="text" autocapitalize="on" autocorrect="on"></ion-input>
      </div>
    </div>

    <div class="data_div">
      <div class="img_div">
        <img src="/assets/gender.png">
      </div>

      <div class="info_div">
        <h3 class="info_lbl">Gender</h3>
        <ion-select placeholder="Select One" required formControlName="GenderId" interface="popover" mode="ios">
          <ion-select-option *ngFor="let item of genders" [value]="item.genderId">{{item.gender}}
          </ion-select-option>
        </ion-select>
      </div>
    </div>
    <div class="data_div">
      <div class="img_div">
        <ion-icon name="gift-outline"></ion-icon>
      </div>

      <div class="info_div">
        <h3 class="info_lbl">Preferred Giftcard</h3>
          <ion-select placeholder="Select One" formControlName="SelectedGiftCardTypeID" interface="popover" mode="ios">
            <ion-select-option *ngFor="let item of giftCard" [value]="item.GiftCardTypeID">
              {{item.GiftCardProvider.trim()}}
            </ion-select-option>
          </ion-select>    
       </div>
    </div>
    <div class="data_div">
      <div class="img_div">
        <img src="/assets/pin.png">
      </div>

      <div class="info_div">
        <h3 class="info_lbl">City</h3>
        <ion-select placeholder="Select One" required formControlName="CityId" interface="popover" mode="ios">
          <ion-select-option *ngFor="let item of locations" [value]="item.CityId">{{item.City}}
          </ion-select-option>
        </ion-select>
      </div>
    </div>
    <div class="data_div">
      <div class="img_div">
          <ion-icon name="snow-outline"></ion-icon>
      </div>

      <div class="info_div">
        <h3 class="info_lbl">Religion</h3>
        <ion-select placeholder="Select One" required formControlName="ReligionId" interface="popover" mode="ios">
          <ion-select-option *ngFor="let item of religions" [value]="item.ReligionId">{{item.Religion}}
          </ion-select-option>
        </ion-select>
      </div>
     </div>  

     <div class="data_div">
      <div class="img_div">
        <img src="/assets/men_flit.svg">
      </div>
      <div class="info_div">
        <h3 class="info_lbl">Pets</h3>
        <ion-select placeholder="Select One" required formControlName="UserSelectedPetId" interface="popover" mode="ios">
          <ion-select-option *ngFor="let item of petsOptions" [value]="item.PetId">{{item.PetName}}
          </ion-select-option>
        </ion-select>
      </div>

     </div>
     
     <div class="data_div">
      <div class="img_div">
        <img src="/assets/smoke.svg">
      </div>

      <div class="info_div">
        <h3 class="info_lbl">Smoking</h3>
        <ion-select placeholder="Select One" required formControlName="UserSelectedSmokingId" interface="popover" mode="ios">
          <ion-select-option *ngFor="let item of SmokingOptions" [value]="item.Id">{{item.Details}}
          </ion-select-option>
        </ion-select>
      </div>
     </div>

     <div class="data_div">
      <div class="img_div">
        <img src="/assets/drink.svg">
      </div>
      <div class="info_div">
        <h3 class="info_lbl">Drinking</h3>
        <ion-select placeholder="Select One" required formControlName="UserSelectedDrinkingId" interface="popover" mode="ios">
          <ion-select-option *ngFor="let item of DrinkingOptions" [value]="item.Id">{{item.Details}}
          </ion-select-option>
        </ion-select>
      </div>       
     </div> 
     <div class="data_div">
      <div class="img_div">
        <img src="/assets/job.png">
      </div>

      <div class="info_div">
        <h3 class="info_lbl">About Me</h3>
        <ion-input maxlength="150" formControlName="AboutMe" type="text" autocapitalize="on" autocorrect="on" Max></ion-input>
      </div>
    </div>
  </div>
</form>
</ion-content>