<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"  text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Refer a Friend</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="main_div ion-margin-horizontal">
    <div class="back_img">
      <img src="/assets/bosahgroup.png">
    </div>
    <div class="referral_div">
      <img src="/assets/refferal_im.png">
      <p class="info_lbl">
        Refer a Friend to Bosah and receive a $25 giftcard to your preferred store or restaurant when they use Bosah Group to find their apartment!</p>
      <p class="referral_lbl">Your Referral Code</p>
      <p class="code">{{currentUser.ReferralCode | uppercase}}</p>
      <ion-button class="invite_btn main_btn" expand="block" (click)="shareApp()">
        <ion-icon name="exit"></ion-icon>invite Your Friends
      </ion-button>
    </div>

  </div>
</ion-content>