<ion-header>
  <ion-toolbar color="client-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Referrals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-img src="/assets/Title_Logo.jpg" alt="Bosah Icon Image" class="headerImage"></ion-img>
  <ion-card>
    <ion-icon color="primary" class="crad-icon" slot="start" name="gift"></ion-icon>
    <ion-card-content>
      <ion-label color="dark">YOUR REFERRAL CODE</ion-label>
      <br />
      <ion-label class="referral-code" color="secondary">{{currentUser.ReferralCode | uppercase}}</ion-label>
      <br />
      <ion-button expand="block" (click)="shareApp()">
        <ion-icon slot="start" name="share"></ion-icon>
        Invite Your Friends
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>