<ion-header translucent>
  <ion-toolbar color="client-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Flat Search Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-img src="/assets/ICON WITH TITLE.png" alt=""></ion-img>
  <form>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Select City <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" name="city" id="city" [(ngModel)]="userForm.CityId">
          <ion-select-option required *ngFor="let item of locations" [value]="item.CityId">{{item.City}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Select Your Rent Budget <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" name="rentbudget" id="rentbudget" [(ngModel)]="userForm.RentBudgetId">
          <ion-select-option *ngFor="let item of rentBudget" [value]="item.RentBudgetID">{{item.RentBudgetType}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Select Bedroom Type <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" name="bedroom" id="bedroom" [(ngModel)]="userForm.BedroomTypeId">
          <ion-select-option *ngFor="let item of bedrooms" [value]="item.BedroomID">{{item.BedroomType}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Select Bathroom Type <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" name="bathroom" id="bathroom" [(ngModel)]="userForm.BathroomTypeId">
          <ion-select-option *ngFor="let item of bathrooms" [value]="item.BathroomID">{{item.BathRoomType}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Desired Move-In Date <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-datetime name="moveindate" id="moveindate" placeholder="MM-DD-YYYY" displayFormat="MM-DD-YYYY"
          [(ngModel)]="userForm.DesiredMoveInDate">
        </ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Comments</ion-label>
        <ion-textarea [(ngModel)]="userForm.Comments" name="comments" id="comments"></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" (click)="submitForm()">
        <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon> Submit
      </ion-button>
    </div>
  </form>
</ion-content>