<ion-header translucent class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Flat Search Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="main_div">
    <div class="logo_div">
      <div class="img_div">
        <ion-img src="/assets/bosahgroup.png"></ion-img> 
      </div>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
       
        <ion-item mode="md" lines="none" class="rent_item ion-margin-start">
          <ion-label>
            <h3 class="info_lbl rent_lbl">Rent Budget Per Person</h3>
            <ion-range id="dual-range"  min="800" max="2000"  mode="md"  dualKnobs="true" pin="true"  [value]="rangeValue" 
            (ionChange)="rangeChange($event)" #roomrentRange>
            <ion-label slot="start">800</ion-label>
              <ion-label slot="end">2000</ion-label>
            </ion-range>
          </ion-label>
    
        </ion-item>        
        <ion-item>
          <ion-label position="stacked">Select City <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-select placeholder="Select One" required formControlName="CityId">
            <ion-select-option  *ngFor="let item of locations" [value]="item.CityId">{{item.City}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <div class="btn_div ion-margin-horizontal">
          <p class="info_lbl">Number of Bedrooms</p>
         
            <ion-button *ngFor="let item of bedrooms" [ngClass]="item.BedroomType==selectedBedroomType ? 'active':''" (click)="selectBedRoom(item.BedroomType)">
              {{item.BedroomType}}
            </ion-button>
          
        </div>     
        <ion-item mode="md" class="ion-margin-horizontal desired_item">
          <ion-label>
            <h3 class="info_lbl">Desired Move-in-Date<ion-text color="danger">*</ion-text></h3>
            <div class="date_div">
              <ion-icon src="/assets/date_time.svg"></ion-icon>
              <ion-datetime displayFormat="DD-MMM-YYYY"  formControlName="DesiredMoveInDate">
              </ion-datetime>
              <ion-button class="close_btn  transparent_btn" slot="end">
                <ion-icon src="/assets/black_close.svg"></ion-icon>
              </ion-button>
            </div>
    
          </ion-label>
        </ion-item>      
       
        <ion-item class="neighborhood ion-margin-horizontal">
          <ion-label class="info_lbl" position="stacked">Neighborhoods and Desired Amenities</ion-label>
          <ion-textarea formControlName="Comments" rows="2"></ion-textarea>
        </ion-item>

      </ion-list>
  
      <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin" >
          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon> Submit
        </ion-button>
      </div>
    </form>
  </div>
  
</ion-content>





