<ion-header translucent class="sticky-box-shadow">
  <ion-toolbar color="client-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Flat Search Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-img src="/assets/ICON WITH TITLE.png" alt="Bosah Icon Image"></ion-img>
  <form [formGroup]="userForm" (ngSubmit)="submitForm()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Select City <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" required formControlName="CityId">
          <ion-select-option required *ngFor="let item of locations" [value]="item.CityId">{{item.City}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Select Your Rent Budget <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" required formControlName="RentBudgetId">
          <ion-select-option *ngFor="let item of rentBudget" [value]="item.RentBudgetID">{{item.RentBudgetType}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Select Bedroom Type <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" required formControlName="BedroomTypeId">
          <ion-select-option *ngFor="let item of bedrooms" [value]="item.BedroomID">{{item.BedroomType}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Select Bathroom Type <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select placeholder="Select One" required formControlName="BathroomTypeId">
          <ion-select-option *ngFor="let item of bathrooms" [value]="item.BathroomID">{{item.BathRoomType}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Desired Move-In Date <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required formControlName="DesiredMoveInDate" placeholder="dd-mm-yyyy" type="Date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Comments</ion-label>
        <ion-textarea formControlName="Comments"></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="userForm.invalid">
        <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon> Submit
      </ion-button>
    </div>
  </form>
</ion-content>