<ion-header translucent>
  <ion-toolbar color="client-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="userlogin"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Forget Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-background-img" fullscreen padding>
  <ion-slides #forgetPasswordslides>
    <ion-slide>
      <form [formGroup]="userForm" class="otp-form">
        <ion-item class="email-textbox">
          <ion-icon slot="start" name="at" class="auto-top-bottom-marging" color="primary"></ion-icon>
          <ion-input type="email" required formControlName="email" placeholder="your e-mail id">
          </ion-input>
        </ion-item>
        <h5 *ngIf="otpsend" class="otp-message">Please enter one time verification code send to<br />
          {{userForm.value.email}}</h5>
        <ion-item class="otp-textbox" *ngIf="otpsend">
          <ion-label position="floating" class="auto-right-left-marging">ENTER OTP</ion-label>
          <ion-input type="number" (keyup)="onKey($event)" maxlength="4"></ion-input>
        </ion-item>
        <h5 class="otp-resend">
          <span *ngIf="otpsend">Not received your code?</span><br />
          <ion-button fill="solid" (click)="sendOTP()" *ngIf="!otpsend"
            [disabled]="this.userForm.controls.email.invalid">Get OTP
          </ion-button>
          <ion-button fill="solid" (click)="reSendOTP()" *ngIf="otpsend">Resend Code</ion-button>
        </h5>
      </form>
    </ion-slide>
    <ion-slide>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()" padding-right class="password-form">
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input formControlName="confirmPassword" type="password"></ion-input>
        </ion-item>
        <div class="ion-padding-vertical">
          <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="userForm.invalid">
            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon> Change Password
          </ion-button>
        </div>
      </form>
    </ion-slide>
  </ion-slides>
</ion-content>